div .ProjectContainer {
  position: absolute;
    top: 50%;
    height: 90vh;
    width: 100vw;
    transition: 0.3s ease-in-out;
    background: gray;
    border: 2px solid gray;
    margin: 20px auto;
    overflow: scroll;
    min-width: 90vw;
}

.add-project-container {
  align-items: center;
  background: rgb(244, 244, 244);;
  border: 2px solid grey;
  cursor: pointer;
  display: flex;
  height: 100px;
  justify-content: center;
  margin: 10px auto;
  &:hover {
    background: rgb(194, 194, 194);
  } 
  &:active {
    background: rgb(177, 177, 177);
  }
}

.add-project-icon {
  height: 50px;
  margin: 10px;
  width: 50px;
}

.no-projects {
  color: white;
  font-size: 2em;
}

.explanation {
  color: white;
  font-size: 1.5em;
}