.ProjectContainer {
  background: gray;
  border: 2px solid gray;
  height: 50vh;
  margin: 20px auto;
  overflow: scroll;
  width: 95%;
}

.add-project-container {
  align-items: center;
  background: rgb(244, 244, 244);;
  border: 2px solid grey;
  cursor: pointer;
  display: flex;
  height: 100px;
  justify-content: center;
  margin: 20px;
  &:hover {
    background: rgb(194, 194, 194);
  } 
  &:active {
    background: rgb(177, 177, 177);
  }
}

.add-project-icon {
  height: 50px;
  margin: 10px;
  width: 50px;
}

.no-projects {
  color: white;
  font-size: 2em;
}

.explanation {
  color: white;
  font-size: 1.5em;
}