div .ProjectContainer {
    top: 50%;
    height: 90vh;
    width: 100vw;
    transition: 0.3s ease-in-out;
    background: rgb(255, 243, 191);
    margin: 20px auto;
    padding-top: 10px;
    overflow: hidden;
    min-width: 90vw;
button {
    border: 1px solid purple;
    border-radius: 5px;
    height: 60px;
    font-size: 1.5em;
    width: 20%;
    margin: 20px auto;
    background: #FDF7DB;
    &:hover {
      color: white;
      background: purple;
    }
  }
}

.add-project-container {
  align-items: center;
  background: rgb(244, 244, 244);
  cursor: pointer;
  display: flex;
  height: 100px;
  justify-content: center;
  margin: 10px auto;
  &:hover {
    background: rgb(194, 194, 194);
  } 
  &:active {
    background: rgb(177, 177, 177);
  }
}

.add-project-icon {
  height: 50px;
  margin: 10px;
  width: 50px;
}

.no-projects {
  color: white;
  font-size: 2em;
  margin: 10px auto;
}

.explanation {
  color: white;
  font-size: 1.5em;
}