.form-label-input-div {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60px;
  margin-top: 20px;
  width: 60%;
  input {
    height: 100%;
    width: 100%;
  }
}