.PaletteCard {
  border: 2px black solid;
  cursor: pointer;
  display: flex;
  flex: 0 0 auto;
  height: 200px;
  margin-left: 20px;
  width: 200px;
  &:hover {
    opacity: 0.5;
  }
}

.colors-div {
  display: flex;
  height: 150px;
  width: 150px;
}

.colorblocks {
  height: 100%;
  width: 20%;
}