.PaleteContainer-header {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
}

.PaleteContainer-names { 
  width: 40%;
}

.project-name,
.palette-name {
  border-radius: 5px;
  margin: 0px;
  padding: 10px;
  text-align: left;
  width: 100%;
  &:focus { 
    background: #ededed;
    outline: none;
  }
}

.icon-container {
  align-items: center;
  display: flex;
  cursor: pointer;
  margin-right: 30px;
}

.save-icon {
  height: 50px;
  width: 50px;
}

.PaletteContainer-section {
  display: flex;
  justify-content: space-around;
}