.PaleteContainer-header {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
}

.PaleteContainer-names { 
  width: 40%;
}

.project-name,
.palette-name {
  background: rgb(244, 244, 244);
  border: none;
  border-radius: 5px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  margin: 0px;
  padding: 10px;
  text-align: left;
  width: 100%;
  &:focus { 
    background: #ededed;
    outline: none;
  }
}

.project-name {
  font-size: 30px;
}

.palette-name {
  font-size: 26px;
}

.icon-container {
  align-items: center;
  display: flex;
  margin-right: 20px;
}

.randomize-icon,
.save-icon {
  cursor: pointer;
  height: 50px;
  margin: 10px;
  width: 50px;
  &:active {
    opacity: 0.5;
  }
}

.PaletteContainer-section {
  display: flex;
  justify-content: space-around;
}